body {
  color: #ddd;
  background-color: #000;
  font-family: Arial,“ヒラギノ角ゴ ProN W3″,“Hiragino Kaku Gothic ProN”,“メイリオ”,Meiryo,sans-serif;
}

.debug{display: none;}

header img {
  display: block;
  float: left;
  margin-bottom: 8px;
  margin-right: 8px;
}

#wifi-icons {
  position: relative;
  float: left;
  top: 10px;
  left: 20px;
  display: block;
  width: 225px;
}

#wifi-icons p {margin: 4px;}

#wifi-icons span {
  padding-left: 18px;
  background: url("/img/wifi-icon-01") no-repeat left center;
  background-size: 17px;
}

#wifi-icons span.error {
  background: url("/img/wifi-icon-02") no-repeat left center;
  background-size: 17px;
}

[id*="refresh"] {
  font-size: 14px;
  text-align: center;
  color: #aaa;
  background-color: #444;
  padding: 4px;
  transition: .5s;
  transform: scaleX(1.001); /* for windows antialias */
}

.tab_area {
  position: relative;
  top: 10px;
  left: 20px;
  line-height: 100px;
}

.tab_area li {
  display:block;
  float:left;
  background:#333;
  height: 100px;
  width: 100px;
  margin: 0;
  text-align:center;
  color:#aaa;
}

.tab_area li:hover {
  background:#555;
}

ul {
  display: table;
  overflow : hidden;
  padding: 0;
  margin: 0;
}

hr {
  clear:both;
  margin: 0;
  border-color: #333;
}

button {
  display: table-cell;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow : hidden;
  color: #aaa;
  background-color: #444;
  border-style: none;
  outline: none;
  transition: .5s;
  transform: scaleX(1.001); /* for windows antialias */
}

button.main_button {
  width: 150px;
  height: 50px;
  clear: both;
  outline: solid;
  outline-color: #030;
  outline-width: 2px;
  outline-offset: 2px;
  margin: 15px 12px;
  box-shadow: 0 0 10px 8px #111;
}
button.main_button:hover {
  font-size: 20px;
  outline-color: #474;
  box-shadow: 0 0 10px 10px #222;
}
button.main_button:active {background-color: #666;}

button.big {height: 100px}

button.projector, .group {outline-color: #116;}
button.projector:hover, .group:hover {outline-color: #33c;}

button.all {outline-color: #330;}
button.all:hover {outline-color: #880;}

button.on {
  color: #ccc;
  background-color: #633;
  outline-color: #311;
}
button.on:hover {outline-color: #611;}
button.on:active {background-color: #655;}

button.timer_button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
}
button.timer_button:hover {
  font-size: 18px;
  background-color: #666;
}
button.timer_button:active {background-color: #888;}
button.timer_button:disabled {
  background-color: #444;
  color: #666;
}

#prev_next_link {
  display: flex;
  clear: both;
}

#prev_next_link button {
  border-bottom: 1px #ddd;
  display: block;
  height: 100px;
  background-color: #222;
  flex: 1;
  outline: none;
  padding: 14px 40px;
  transition: .5s;
}
#prev_next_link button:hover {background-color: #555;}
#prev_next_link button:disabled {
  background-color: #222;
  color: #555;
}

#script_now{
  display: flex;
  clear: both;
  float: left;
  height: 200px;
  width: 600px;
  margin: 2px 0px;
  font-size: 180%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#script_next{text-align: right;}

#script_constellation{
  float:right;
  margin: 0px 20px;
}

#script_constellation p{
  display: block;
  float: left;
  width: 90px;
  height: 25px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  color: #aaa;
  background-color: #222;
  margin: 2px;
  padding: 2px;
  transition: .5s;
}

#script_constellation p.on{background-color: #422;}

