body {
  color: #ddd;
  background-color: #202020;
}

button.constellation {
  display: block;
  width: 150px;
  height: 50px;
  font-size:1.2em;
  color: #aaa;
  background-color: #444;
  border-style: none;
  outline: solid;
  outline-color: #030;
  outline-size: 2px;
  outline-offset: 2px;
  margin: 15px 6px;
}

button.constellation:hover {
  outline-color: #363;
}

button.constellation:active {
  background-color: #666;
}

button.on {
  color: #ccc;
  background-color: #633;
  outline-color: #311;
}

button.on:hover {
  outline-color: #611;
}

button.on:active {
  background-color: #655;
}
